 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    filter: brightness(100%);
}

nav{
  padding: 20px;
  margin: 20px;
}
.navlinks ul li a {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  font-family: cursive;
}

.navlinks ul li {
  list-style: none;
  display: inline-block;
  margin: 0 10px 0 60px;
  position: relative;
}

.navlinks ul li::after {
  content: '';
  height: 3px;
  width: 0;
  background: #f2f5f5;
  position: absolute;
  left: 0;
  bottom: -10px;
  transition: 0.5s;
}

.navlinks ul li:hover::after {
  width: 100%;
}

.dropdown-list {
    display: none;
    position: absolute;
    background-color: transparent;
    padding: 0;
    margin: 0;
    left: 90px;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  
  li.current-page:hover .dropdown-list {
    display: block;
    opacity: 1;
  }
  
  .dropdown-list li {
    list-style: none;
    padding: 8px 16px;
  }
  
  .dropdown-list li a {
    display: block;
    color: #fffafa;
    text-decoration: none;
  }
  
  .dropdown-list li a:hover {
    background-color: none;
  }
  
  .logo {
      width: 600px;
      position: relative;
      top: 0;
      left: 0;
  }

  .dropdown-list {
      display: none;
      position: absolute;
      background-color: transparent;
      padding: 0;
      margin: 0;
      left: 0;
      z-index: 1;
      opacity: 0;
      transition: opacity 0.3s ease;
  }

  li.current-page:hover .dropdown-list {
      display: block;
      opacity: 1;
  }

  .dropdown-list li {
      list-style: none;
      padding: 8px 16px;
  }

  .dropdown-list li a {
      display: block;
      color: #fffafa;
      text-decoration: none;
  }

  .dropdown-list li a:hover {
      background-color: none;
  }

  .backgroundvid2 {
      position: absolute;
      right: 0;
      bottom: 0;
      z-index: -1;
  }



@media (min-aspect-ratio: 16/9) {
    .backgroundvid2 {
        width: 100%;
        height: auto;
    }
}

@media (max-aspect-ratio: 16/9) {
    .backgroundvid2 {
        width: auto;
        height: 100%;
    }
}

    body {
        margin: 0;
        padding: 0;
        font-family: Arial, sans-serif;
      }
  
      #video-container {
        position: relative;
        width: 100%;
        height: 100vh;
        overflow: hidden;
      }
  
      #video-container video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -1;
      }
  
      #overlay1 {
        position: absolute;
        top: 100px;
        left: 130px;
        width: 80%;
        height:80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: rgba(0, 0, 0, 0.5);
        color: #fff;
        z-index: 1;
        font-family:  'Pathway Extreme', sans-serif;;
      }
  
      #overlay1 h1 {
        font-size: 3rem;
        margin-bottom: 1rem;
        left: 200px;
      }
  
      #overlay1 p {
        font-size: 1.5rem;
        margin-bottom: 2rem;
        left: 10;
        bottom: 10px;
      }

      #service{
    width: 100%;
    padding: 70px 0;
    background: #c5efff;
}
.service-box{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: auto;
}

.single-service{
      flex-basis: 40%;
      text-align: center;
      border-radius: 7px;
      margin-bottom: 20px;
      color: #fff;
      position: relative;
}

.single-service img{
    width: 100%;
    height: 400px;
    border-radius: 7px;

}

.overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    border-radius: 7px;
    cursor: pointer;
    background: linear-gradient(rgba(0,0,0,0.5),#1e7192);
    opacity: 0;
    transition: 1s;

}
.single-service:hover .overlay{
    opacity: 1;
}

.desc {
    width: 80%;
    position: absolute;
    bottom: 10px;
    left: 50%;
    opacity: 0;
    transform: translateX(-50%);
    transition: 1s;
  }
  
  hr {
    background: white;
    height: 2px;
    border: 0;
    margin: 15px auto;
    width: 60%;
  }
  
  .desc:hover {
    bottom: 40%;
    opacity: 1;
  }
  .footer3 {
    width: 100%;
    background-color: #014d5a;
    padding: 20px 0;
    margin-top: 10px;
  }
  
  .contentfooter3 {
    text-align: center;
  }
  
  .contentfooter3 ul {
    list-style: none;
    padding: 0;
    margin: 10px 0;
  }
  
  .contentfooter3 ul li {
    display: inline-block;
    margin: 0 10px;
  }
  .contentfooter3 ul a{
    text-decoration: none;
    color: #000000;
  }

  
  @media screen and (max-width:375px){

    .service-box{
      width: 70%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      margin: auto;
  }
    .single-service{
        flex-basis: 30%;
        margin-bottom: 20px;
    }
    hr{
        margin: 5px auto;
    }

    .desc:hover {
        bottom: 25% !important;
        
}
.fourth-header .navlinks{
  display: inline;
  align-items: center;
}
  }

 
  @media (max-width:770px){
    .single-service{
       display: none;
    }
    .desc p {
        font-size: 12px;

    }
    hr{
        margin: 5px auto;
    }

    .desc:hover {
        bottom: 25% !important;
        
}
  }

 
